Django
djangorestframework
djangorestframework-gis
django-heroku
django-map-widgets
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support for djangorestframework
faker
psycopg2-binary
django-rest-swagger
django-storages
numpy
boto3
gunicorn
whitenoise
rq