Django
djangorestframework
djangorestframework-gis
django-heroku
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support for djangorestframework
faker
psycopg2-binary
django-rest-swagger
django-storages[s3]
numpy
boto3
gunicorn