{% extends "_base.html" %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col">
    <h2>Locations {{ hog.name }} has visited</h2>
    <ul>
      {% for location in hog.locations %}
      <li><a href="{% url 'location' location.code %}">{{ location }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Videos of {{ hog.name }}</h2>
  </div>
</div>

{% for video_measurement in video_measurements %}
<div class="row pt-1">
  <div class="col">
    {{ video_measurement.observed_at }}
  </div>
  <div class="col">
    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
           poster="" data-setup="{}">
      <source src="{{ video_measurement.video.url }}" type="video/mp4">
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
  </div>
</div>
{% endfor %}

{% endblock %}
