{% extends "_base.html" %}
{% load static %}

{% block content %}
<script>
  var location_code = undefined;
  var hog_code = '{{ hog.code }}';
  var min_date = {{ min_date }};
  var max_date = {{ max_date }};
  var initial_resolution = '{{ initial_resolution }}';
</script>

<script src="{% static 'main.js' %}"></script>


  <div class="row">
    <div class="col">
      <h1>Weights recorded for {{ hog.name }}</h1>
    </div>
  </div>
  {% if num_measurements %}
  <div class="row">
    <div class="col">
      <div class="measurement-chart" id="weight-container-{{ hog.code }}" style="width:100%; height:400px;">Loading...</div>
    </div>
  </div>
  <hr>
  {% else %}
    No measurements yet!
  {% endif %}

{% endblock %}
