{% extends "_base.html" %}
{% load static %}

{% block content %}

<h1>Welcome to {{ republic_name }}!</h1>
<p class="lead">By joining gardens together and closely monitoring hedgehogs in the area, we hope to maintain and grow our hedgehog populations. Explore the latest monitoring info by clicking on a pin below:</p>
<h3>Our boxes</h3>

<div class="row">
<div class="col">
  <div id="map"></div>
</div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h3>Recent videos</h3>
  </div>
</div>

<div class="row">
  {% for group in videos %}

  <div class="col-lg-6">
    <div class="card-wall">
      {% include '_card.html' %}
    </div>
  </div>
  {% endfor %}
</div>
<script src="{% static 'main.js' %}"></script>

<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYmFjb24iLCJhIjoiY2ltdGYwZGJkMDA2a3Z3bTFucjgyZnlvdCJ9.hplRw1YZqso0DZNteF9S-g';
  var bounds = {{ bbox_string }};
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v9',
  bounds: bounds,
  fitBoundsOptions: { padding: 50 },
  minZoom: 11
});
map.addControl(new mapboxgl.NavigationControl());
$.getJSON("/api/locations/?format=json", function(data) {
  data.results.forEach(function(box) {
    var coords = box.coords.coordinates;
    new mapboxgl.Marker()
      .setLngLat([coords[0], coords[1]])
      .setPopup(new mapboxgl.Popup({ offset: 25 })
      .setHTML("<strong><a href='/location/" + box.code + "'>"  + box.name + "</a></strong>"))
      .addTo(map);
  });
});
</script>

{% endblock %}
